@import '../frontend/src/variable.scss';
:host{
    display: flex;
    flex-direction: column;
}
.image-product{
    padding-right: 20px;
}
.price-product{
    color: $warn;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}
.product-content{
    font-size: 20px;
}
mat-card{
    margin-bottom: 25px;
}