/* You can add global styles to this file, and also import other style files */
@import '../../frontend/src/variable.scss';
body,
html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content{
    padding: 20px;
    background: $light;
}